* {
	font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}






/*----- FOOTER ------*/

footer {
	background: #858585;
	color:white;
	font-size: 0.9em;
	height: 250px;
}

footer a {
	color:white;
	font-size: 0.9em;
}

footer a:hover {
	color:white;
}

footer h5 {
	color :#00adec;
	font-size: 1.1em;
}

.footer-main {
	height: 200px;
}

.footer-copyright {
	background: #656565;
	height: 50px;
}


#SpectralVision{

	margin-left: 0px;
	padding-left: 0px;
	width: 400px;
	height: 400px;

}

#commentSection{

	border:3px solid black;
}

.container
{
    min-height: 70%;
    min-height: -webkit-calc(100% - 186px);
    min-height: -moz-calc(100% - 186px);
    min-height: calc(100% - 186px);
}
.Pimages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
